header{
    background-color: rgba(225, 51, 51, 0.883);
    padding: 10px; 
    font-size: 10px; 
}

header nav a{
    color: rgb(237, 241, 239);
    font-weight: bold;

}


h1{
    color:rgb(41, 110, 41); 
    font-size: 24px; 
}

img{
    height:200px;
    
    
}

nav{
    text-align: left;
}

a{
    color: rgb(34, 130, 88);
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
    padding: 10px; 
}

.grid-item{
    background-color: transparent;
    border: none;
    padding: 5px;
    text-align: left; 
}


.color-block {
    height: 26px; 
    background-color: #5ec056; 
    font-size: 10px; 
    padding: 12px; 
}

.smaller-margin{
    line-height: 8px;  
    
}

.bold-text{
    font-weight: bold;
}

.smaller-text{
    font-size: 16px; 
    color: black; 
}

.smaller-margin-indend{
    text-indent: 30px; 
    line-height: 8px;  

}